.button{
    -fx-background-color: transparent;
}

#selectFileButton{
    -fx-background-image: url("../images/file.png");
    -fx-background-size: 30 30;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#playButton{
    -fx-background-image: url("../images/play.png");
    -fx-background-size: 30 30;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#stopButton{
    -fx-background-image: url("../images/stop.png");
    -fx-background-size: 30 30;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#timeSlider{
    -fx-opacity: 0.1;
}
#timeSlider:hover{
    -fx-opacity: 1;
}
#menuBox{
    -fx-opacity: 0.1;
}
#menuBox:hover{
    -fx-opacity: 1;
}
#audioSpectrum{
    -fx-background-color: transparent;
}